export GOPATH=`pwd`
export SQL_MIGRATE_MIGRATION_SOURCE_PATH=`pwd`/conf.d
export SQL_MIGRATE_HOST='127.0.0.1'
export SQL_MIGRATE_USER='migrate'
export SQL_MIGRATE_PASSWORD='migrate'
export SQL_MIGRATE_DBNAME='migrate'